<!DOCTYPE html>
<html>
  <head>
    <title>Chartkick Example</title>
    <script src="https://www.google.com/jsapi"></script>
    <script src="chartkick.js"></script>
  </head>
  <body>
    <center>
      <h1> <%= @title %> </h1>
      <p>
        <%= line_chart(@data) %>
      </p>
    </center>
  </body>
</html>
